// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// Position Screen

.position-section {
  background: #fffbf6;
  height: calc(100vh - 70px);
  overflow-x: scroll;
  padding: 50px;

  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    background: rgba($black, 1);
    height: 3px;
  }

  .ant-tabs-content {
    padding: 30px 10px;
  }

  .ant-tabs-tab-btn {

    .tab-title {
      color: rgba($black, 0.3);
      font-size: 30px;
    }

    span {
      color: rgba(#DCBC97, 0.4);
    }
  }

  .ant-tabs-tab-active {
    .tab-title {
      color: rgba($black, 1);
    }

    span {
      color: rgba(#DCBC97, 0.8);
    }
  }
}
