// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// Position Screen

.profile-card {
  height: 100%;
  background: $white;
  border: 1px solid #f3ddc2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  position: relative;

  .ant-dropdown-link {
    width: 24px;
    height: 24px;
    background-color: #e8e8f3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    z-index: 2;

    .anticon {
      color: #160b45;
      font-size: 18px;
    }

    &:hover {
      background-color: $black;

      .anticon {
        color: white;
      }
    }
  }

  .shortname {
    width: 40px;
    height: 40px;
    background: $theme-secondary;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    line-height: 0;
    position: relative;
    top: 6px;
  }

  .info {
    .title2 {
      font-size: 22px;
      color: $black;
      font-weight: 700;
      margin-top: 0;
    }

    .description {
      font-size: 18px;
      color: #7A7A8D;
      font-weight: 700;
    }
  }

  .email-text {
    font-size: 18px;
    color: #7A7A8D;
    margin: 0;
  }
}
