// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// auto-section

.auto-section {

  .left-section {
    background: url('../../assets/bg/dark1.svg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    padding: 30px 80px;
    overflow: hidden;

    .title1 {
      font-size: 100px;
      line-height: 1;
      color: $white;
    }

    .description {
      color: #CBC4EB;
      font-size: 20px;
    }

    .img-illustration {
      position: absolute;
      right: 30px;
      top: 80px;
      width: 75%;
    }
  }

  .right-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-inline .ant-form-item-control-input-content {
      display: flex;
      align-items: center;
    }

    .title3 {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .ant-form {
      margin-top: 30px;


    .ant-input {
      min-height: 43px;
      border: none;
      border-bottom: 1px solid #9090B7;
      border-radius: 0;
      font-size: 18px;
      padding: 0;

      &:hover, &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .ant-btn {
      height: 43px;
      border-radius: 50px;
      background: #160B45;
      border: none;
      padding: 4px 20px;
      display: flex;
      align-items: center;

      span {
        position: relative;
        top: 4px;
      }
    }

  }

    .form-section {
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 2;
    }

    .footer-section {
      background: #F5F5FA;
      height: 81px;
      display: flex;
      align-items: center;
      padding: 0 80px;

      a {
        color: $black;
        font-weight: 600;
      }
    }

    .description {
      margin: 0;
    }
  }
}