// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// Position Screen

.profile-section {
  background: #fffbf6;
  height: calc(100vh - 70px);

  .grappus-studio {
    background-color: $white;
    padding: 20px 50px;

    .studio-info {
      text-align: right;
    }

    .description {
      margin-bottom: 0;
    }
  }

  .action-section {
    padding: 20px 50px;
    border-bottom: 1px solid $border-color;

    .button-sec {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .profile-card-section {
    padding: 40px 50px;
  }
}
