@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import "antd/dist/antd.css";

// variables
@import "./variables/colors";
@import "./variables/mixins";

// theme styles files
@import "./xtras";
// @import './fonts';

// custom css
* {
  font-family: "Messina sans", sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  // height: 100%;
}

.app-container {
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: 14px;
}

// img-white
.img-white {
  filter: contrast(0) brightness(100);
}

// Typography Style
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  margin: 0;
}

.title1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
}

.title2 {
  font-size: 36px;
  line-height: 39px;
  font-weight: 600;
}

.title3 {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;

  // On mobile
  @include mobile {
    font-size: 1.3rem;
  }
}

.title4 {
  font-size: 1.3rem;
  line-height: 39px;
  font-weight: 600;
}

.title5 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
}

.title6 {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 600;
}

// Button Style here
.ant-btn-primary {
  background: $theme-secondary;
  border: none;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 50px;

  &:hover,
  &:focus {
    background: lighten($theme-secondary, 10%);
  }

  span {
    position: relative;
    top: 2px;
  }
}

.btn-default {
  background: #f3f3f3;
  border: none;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: $theme-secondary;
  padding: 4px 20px;

  &:hover,
  &:focus {
    background: #f3f3f3;
    color: $theme-secondary;
  }
}

.tag-default {
  background: #f3f3f3;
  border: none;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: $theme-secondary;
  padding: 4px 20px;
}

// text Style
.text-danger {
  color: $theme-danger;
}

// logo-white
.logo-white {
  img {
    filter: contrast(0) brightness(100);
  }
}

.layout-primary {
  min-height: 100vh;

  // sidebar-section
  .sidebar-section {
    max-width: 100px !important;
    overflow: hidden;
    position: fixed;

    a {
      color: white;
      font-size: 18px;
      display: flex;
      transform: rotate(270deg);
      flex-direction: row-reverse;
    }
  }

  .content-section {
    display: flex;
    flex-direction: column;
  }

  .ant-layout-footer {
padding: 0;

    .footer {
      border-left: 1px solid #DCC797;
      margin-left: 83px;
      padding: 20px;
    }
  }
}
