// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// auto-section

.home-section-style {
  .section-style {
    height: 100vh;
    display: flex;
    overflow: hidden;
  }

  .content-section {
    width: 100%;
  }

  .text-gradient {
    background: -webkit-linear-gradient(#2e1500, #c95632);
    @include clip-text;
  }

  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    padding: 100px 0;
    min-width: 80px;
    max-width: 80px;
    align-items: center;
    border-right: 1px solid #dcc797;

    .ant-btn-primary {
      color: white;
      padding: 0 18px;
    }

    a {
      transform: rotate(270deg);
      white-space: nowrap;
      color: #793700;
    }
  }

  .boxes-style {
    border-top: 1px solid $border-color;
  }

  .section-bury {
    background: #f7f1e5 url("../../assets/bg/gradient-first.svg");

    .title {
      font-weight: 100;
      font-size: 100px;
      margin: 0;
      position: relative;
    }
    .title-2 {
      font-weight: 500;
      font-size: 100px;
      margin: 0;
      position: relative;
    }

    .border-bottom {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;

      .btn-demo {
        margin-bottom: 30px;
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::before {
        position: absolute;
        bottom: 35px;
        width: 100%;
        height: 1px;
        left: 0;
        background: $border-color;
        content: "";
        z-index: 0;
      }
    }

    .illustration-section {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;

      .description {
        font-size: 20px;
        width: 350px;
        padding-left: 50px;
        margin-bottom: 80px;
      }

      .img-style {
        width: 55%;
        margin-right: 50px;
      }
    }
  }

  .why-unberry {
    background-color: #fffcf6;
    height: auto;

    .menu-section {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-section {
      padding: 50px 30px;
      background: linear-gradient(262.63deg, rgba(255, 212, 159, 0.05) 8.02%, rgba(255, 130, 180, 0.05) 127.42%);
      min-height: 279px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-box-sec {
      padding: 50px 80px;

      img {
        width: 70px;
        margin-bottom: 20px;
      }
    }

    .border-section {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }
  }
}
