// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// Position Screen
.my-dna-position-card {
  height: 100%;
  background: $white;
  border: 1px solid #f3ddc2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  position: relative;

  &:hover {
    box-shadow: 0 10px 32px rgba(#864c05, 0.1);
    transform: scale(1.02);
  }

  .head-sec {
    margin-bottom: 30px;

    .position-title {
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .designation {
      font-size: 26px;
      line-height: 1.2;
    }
  }

  .info-sec {
    .title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 0;
      color: $theme-secondary;
    }

    .description {
      color: $theme-secondary;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  .created {
    color: $gray-3;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .ant-dropdown-link {
    width: 24px;
    height: 24px;
    background-color: #e8e8f3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    z-index: 2;

    .anticon {
      color: #160b45;
      font-size: 18px;
    }

    &:hover {
      background-color: $black;

      .anticon {
        color: white;
      }
    }
  }

  .role-relevant-section {
    margin-top: 30px;
  }
}

.position-custom-dropdown {
  .ant-dropdown-menu {
    min-width: 160px;
    border: 1px solid $border-color;
  }

  .ant-dropdown-menu-item {
    padding: 13px 20px;
  }
}

.position-card-dropdown {
  a {
    display: flex;
    align-items: center;
    line-height: 0;

    img {
      margin-right: 10px;
    }
  }

  .remove {
    color: #e25d5d;

    &:hover {
      color: #e25d5d;
    }
  }
}
