// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// Position Screen
.position-detail-card {
  height: 100vh;
  background: $white;
  // border: 1px solid #F3DDC2;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  position: relative;
  box-shadow: 0 0 30px rgba(#864C05, 0.1);

  .back-btn {
    padding: 0;
    text-align: left;
    color: $theme-secondary;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    line-height: 0;

    span {
      position: relative;
      top: -2px;
    }

    .anticon {
      margin-right: 10px;
    }
  }

  .head-sec {
    margin-bottom: 30px;

    .position-title {
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .designation {
      font-size: 40px;
      line-height: 1.2;
      border-bottom: 3px solid $theme-secondary;
      padding-bottom: 10px;
    }
  }

  .info-sec {
    .title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 0;
      color:$theme-secondary;
    }

    .description {
      color:$theme-secondary;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  .created {
    color: $gray-3;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .ant-dropdown-link {
    width: 24px;
    height: 24px;
    background-color: #E8E8F3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;

    .anticon {
      color: #160B45;
      font-size: 18px;
    }
  }
}
